@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
.Home{
    background-color: black;
    height: auto;
}
.homePage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.square{
    width: 50vh;
    height: 50vh;
    position: absolute;
}
.one {
    border: 8px solid orangered;
    transform: rotate(67.5deg);
    animation-name: spinc;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.two{
    border: 5px solid orangered;
    transform: rotate(22.5deg);
    animation-name: spincc;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.three{
    border: 7px solid orangered;
    animation-name: spinc;
    animation-duration: 22500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.five{
    border: 5px solid orangered;
    animation-name: spincc;
    animation-duration: 25000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.four{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Quicksand";
}
.name{
    font-size: 3rem;
    align-self: flex-end;
}
.description{
    align-self: flex-start;
}

@keyframes spinc {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes spincc {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}
